body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button1{
  text-align: center;
}
.body{
  margin: 0px 250px 0px ;
}
.quizProgressBar{
  height: 50px;
  width: 100%;
}
.progressBar{
  height: 50px;
  width: 100%;
}
.correct{
  display: none;
  
  text-align: center;
}
.wrong{
  display: none;
  text-align: center;
}
